.imgCSAPP{
    float: left;
    margin-left: 10vmin;
    margin-top: 10vmin;
    height: 60vmin;
}
.newarr{
    float: left;
    margin-left: 25vmin;
    font-size: 10vmin;
    color: blueviolet;
    font-weight: bold;
}
.off{
    float: left;
    margin-top: 10vmin;
    margin-left: 28vmin;
    font-size: 10vmin;
    color: red;
    font-weight: bold;
}
.toList{
    float: left;
    margin-left: 10vmin;
    margin-top: 40vmin;
    background-color: #dedede;
    font-size: 3vmin;
    text-align: center;
    width:30vmin;
    height: 4.5vmin;
    text-decoration: none;
    color: black;
}
.back{
    background-color: #d5f6ff;
    height: 80vmin;
}