body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.links1{
  position: absolute;
  right: 10vmin;
  top:5vmin;
  margin-right: 1vmin;
  margin-bottom: 10vmin;
  background-color: #dedede;
  font-size: 3vmin;
  text-align: center;
  width:15vmin;
  height: 4.5vmin;
}
.links2{
  position: absolute;
  top:5vmin;
  right: 26vmin;
  margin-right: 1vmin;
  margin-bottom: 10vmin;
  background-color: #dedede;
  font-size: 3vmin;
  text-align: center;
  width:15vmin;
  height: 4.5vmin;
}
.loginBut{
  position: absolute;
  top:5vmin;
  right: 42vmin;
  margin-right: 1vmin;
  margin-bottom: 10vmin;
  background-color: #dedede;
  font-size: 3vmin;
  text-align: center;
  width:15vmin;
  height: 4.5vmin;
}
.linkText{
  text-decoration: none;
  color: black;
}
h1{
  text-align: center;
}
