.indentTableCart{
    margin-left: 20vmin;
}

.bookFilter{

    margin-left: 30vmin;
}

.indentFilters{
    border-radius: 2vmin;
    padding-left: 1vmin;
    width: 20vmin;
    margin-top: 2.5vmin;
    height: 3.6vmin;
    margin-bottom: 0.4vmin;
    font-size: 3vmin;
}