.indentTableCart{
    margin-left: 20vmin;
}

.bookFilter{
    margin-left: 30vmin;
}

.indentFilters{
    padding-left: 1vmin;
    margin-top: 2vmin;
    height: 3.6vmin;
    font-size: 3vmin;
}
.controlLabel{
    font-size: 3vmin;
    margin-top: 1.5vmin;
}