.Info{
    font-size: 3vmin;
    margin-left: 45vmin;
    float: left;
    line-height: 8vmin;
}
.logout{
    float: top;
    margin-top: 50vmin;
    margin-left: 60vmin;
    width: 25vmin;
    border-radius: 2vmin;
    height: 4.5vmin;
    backgroundColor: lightgrey;
    border: yellow;
    color: black;
    align: center;
    display: inline-block;
    font-size: 2.5vmin;
}