.confirm{
    font-size: 5vmin;
    text-align: left;
    float: top;
    font-family: Consolas;
    font-weight: bold;
    color: darkblue;
    margin-left: 45vmin;
}

.BookInfo{
    font-size: 3vmin;
    margin-left: 45vmin;
    float:left;
    line-height: 8vmin;
}
.Comments{
    font-size: 3vmin;
    margin-left: 45vmin;
    float: left;
    line-height: 8vmin;
}
.back{
    background-color: #d5f6ff;
    height: 80vmin;
}
.submit{
    position: absolute;
    bottom: 20vmin;
    right: 20vmin;
    vertical-align: center;
    font-size: 3.5vmin;
    text-align: center;
}
.cancel{
    position: absolute;
    bottom: 19.5vmin;
    right: 42vmin;
    vertical-align: center;
    font-size: 3.5vmin;
    text-align: center;
}
.comment{
    position: absolute;
    bottom: 20vmin;
    right:60vmin;
    vertical-align: center;
    font-size: 3.5vmin;
    text-align: center;
}

.linkText{
    vertical-align: center;
    text-decoration: none;
    color: black;
}