.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
h1{
    font-size: 6.5vmin;
}
table{
    align-content: center;
    width: 120vmin;
    float: left;
    margin-left: 20vmin;
    margin-top: 0vmin;
    font-family: verdana,arial,sans-serif;
    font-size: 2.5vmin;
    color:#333333;
    border-color: #666666;
    border-collapse: collapse;
}
tr {
    border-width: 0.2vmin;
    padding: 1vmin;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
    }
td {
    text-align: left;
    border-width: 0.2vmin;
    padding: 1vmin;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
 }
th {
    text-align: left;
    border-width: 0.2vmin;
    padding: 1vmin;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}
.nameFilter{
    border-radius: 2vmin;
    background-color: #dedede;
    font-size: 3vmin;
    text-align: center;
    float: left;
    width:20vmin;
    height: 4.5vmin;
    margin-left: 60vmin;
}
.inputFilter{
    border-radius: 2vmin;
    float: left;
    width: 20vmin;
    margin-left: 0vmin;
    height: 3.6vmin;
    margin-bottom: 0.4vmin;
    font-size: 3vmin;
}
.savebut{
    width: 25vmin;
    border-radius: 2vmin;
    height: 4.5vmin;
    backgroundColor: lightgrey;
    border: yellow;
    color: black;
    align: center;
    display: inline-block;
    font-size: 2.5vmin;
}
.Selector{
    border-radius: 2vmin;
    background-color: #dedede;
    font-size: 3vmin;
    text-align: center;
    padding-left: 2vmin;
    width:20vmin;
    height: 4.5vmin;
}
.viewBut{
    padding: 0.3vmin;
    border-radius: 2vmin;
    width: 15vmin;
    height: 4.5vmin;
    backgroundColor: lightgrey;
    border: yellow;
    color: black;
    align: center;
    display: inline-block;
    font-size: 2.5vmin;
}